[Unit]
Description=Spotify Telegram Bot
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/opt/spotify-telegram-bot
EnvironmentFile=/opt/spotify-telegram-bot/.env
ExecStart=/home/funlife/miniconda3/envs/spotify-downloader/bin/python /opt/spotify-telegram-bot/bot.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
